.forgotPassword-body{
    width: 528px;
    background-color: #FFFFFF;
    border: 1px solid #DEE3EB;
    box-sizing: border-box;
    border-radius: 8px;
}
.content-email-input{
    padding: 0 32px;
    margin-top: 39px;
}
.content-email-input label{
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.4px;
    color: #6D7A98;
}
.content-email-input input{
    background: #FFFFFF;
    border: 1px solid #DEE3EB;
    box-sizing: border-box;
    border-radius: 4px;
    margin-top: 8px;
    width: 464px;
    height: 48px;
    padding: 16px;
    font-size: 16px;
}
.forgotPassword-footer{
    margin-top: 24px;
    padding: 0 32px;
    margin-bottom: 40px;
}
a{
    color: #1F6AEC;
    text-decoration: none;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
}

@media screen and (max-width: 480px) {
    .forgotPassword-body{
        width: 330px;
        margin-top: 60px;
    }
    .content-email-input input, .content-form-button button{
        width: 251px;
    }
    .content-email-input, .content-form-button{
        padding: 0 24px;
    }
}