@import 'src/components/CustomInput/CustomInput.scss';

.content-form-input{
    position: relative;
}
.password-icon{
        position: absolute;
        right: 20px;
        top: 6px
}.svg:focus{
    outline: none;
}