
.content-form-button{
    margin-top: 24px;
}.btn{
    border-radius: 8px;
    height: 48px;
    width: 100%;
    font-weight: 600;
    text-align: center;
    outline: none;
    border: 1px solid #1F6AEC;
    text-align: center;
    background: #1F6AEC;
    color: #fff;
}
.btn__outline{
    background: #fff;
    color: #1F6AEC;
    width: 40%;
    padding: 12px, 24px, 12px, 24px;
}
.btn__outline:hover{
    background: #1F6AEC;
    color: #fff; 
}
.btn:disabled{
    cursor: not-allowed;
    background: rgb(206, 206, 206);
}
